@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import '@/breakpoints.scss';

$body-font: 'Lato', sans-serif;
$purple-dark: #5A00EA;
$magenta: #D95ECB;
$blue-light: #597AEF;
$icon-color: #FFB82C;
$grey-light: #E6E6E6;
$grey-dark: #7C7C7C;

body {
  font-family: $body-font;
  background-color: $grey-light;
};

//First Widget

#widget-header{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  background-size: 60% 100%;
  margin: auto;
}

.up-position{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 35%;
  padding: 1px;
}

.widget-headquarter{
  color: white;
  border-radius: 45px;
  background: $purple-dark;
  padding: 15px;
  width: 80%;
  height: 15%;
  margin-left: 45px;
  font-size: 15px;
}

.widget-icon{
  color: $icon-color;
  font-size: 70px;
  float: right;
  margin-left: 40px;
}

.widget-weather{
  color: white;
  padding: 15px;
  width: 80%;
  height: 15%;
  margin-left: 45px;
  font-size: 55px;
  text-shadow: black 0.3em 0.1em 0.3em;
}

.down-position{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1%;
  padding: 1px;
}

.widget-percent{
  color: white;
  padding: 15px;
  width: 80%;
  height: 15%;
  margin-left: 45px;
  font-size: 20px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  &::marker{
    color: $magenta;
  }
}

.widget-speed{
  color: white;
  padding: 15px;
  width: 80%;
  height: 15%;
  font-size: 20px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  &::marker{
    color: $blue-light;
  }
}

.widget-greeting{
  color: white;
  padding: 15px;
  width: 100%;
  height: 100%;
  margin-left: 45px;
  font-size: 45px;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}

//Second Widget
.carousel-controls {
  color: $purple-dark;
  margin-left: auto;
  font-size: 40px
}
.carousel-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 7%;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 10em;
}

.slide {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "row-day row-day row-day row-day"
    "row-temp row-temp row-temp row-temp"
    "carousel-percent carousel-percent carousel-speed carousel-speed";
  flex: 0 0 22em;
  height: 10em;
  margin: 2em;
  justify-content: center;
  align-items: center;
  border-right: 0.1em solid $grey-dark;
  transition: transform 0.3s ease-in-out;
}

.row-day {
  grid-area: row-day;
}

.row-temp {
  grid-area: row-temp;
}

.wiget-temp{
  color: $grey-dark;
}

.carousel-percent{
  grid-area: carousel-percent;
  color: $grey-dark;
  font-size: 12px;
  display: list-item;
  list-style-type: disc;
  list-style-position: initial;
  &::marker{
    color: $magenta;
  }
}

.carousel-speed{
  grid-area: carousel-speed;
  color: $grey-dark;
  color: $grey-dark;
  font-size: 12px;
  display: list-item;
  list-style-type: disc;
  list-style-position: initial;
  &::marker{
    color: $blue-light;
  }
}

@include media('<=phone'){
//First Widget
  #widget-header{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    margin: auto;
  }

  .up-position{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25%;
    padding: 1px;
  }

  .widget-headquarter{
    color: white;
    border-radius: 45px;
    background: $purple-dark;
    padding: 15px;
    width: 60%;
    height: 15%;
    margin-left: 45px;
    font-size: 15px;
  }

  .widget-icon{
    color: $icon-color;
    font-size: 70px;
    float: right;
    margin-left: 10px;
  }

  .widget-greeting{
    color: white;
    padding: 15px;
    width: 70%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

//Second Widget
  .slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "row-day row-day row-day row-day"
      "row-temp row-temp row-temp row-temp"
      "carousel-percent carousel-percent carousel-speed carousel-speed";
    flex: 0 0 7em;
    height: 10em;
    margin: 1em;
    justify-content: center;
    align-items: center;
    border-right: 0.1em solid $grey-dark;
    transition: transform 0.3s ease-in-out;
  }
}

@include media('>phone', '<=425px', 'retina2x'){
//First Widget
  #widget-header{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    margin: auto;
  }

  .up-position{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 35%;
    padding: 1px;
  }

  .widget-headquarter{
    color: white;
    border-radius: 45px;
    background: $purple-dark;
    padding: 15px;
    width: 60%;
    height: 15%;
    margin-left: 45px;
    font-size: 15px;
  }

  .widget-icon{
    color: $icon-color;
    font-size: 70px;
    float: right;
    margin-left: 10px;
  }

  .widget-greeting{
    color: white;
    padding: 15px;
    width: 70%;
    height: 100%;
    font-size: 35px;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

//Second Widget
  .slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "row-day row-day row-day row-day"
      "row-temp row-temp row-temp row-temp"
      "carousel-percent carousel-percent carousel-speed carousel-speed";
    flex: 0 0 7em;
    height: 10em;
    margin: 1em;
    justify-content: center;
    align-items: center;
    border-right: 0.1em solid $grey-dark;
    transition: transform 0.3s ease-in-out;
  }
}

@include media('>=tablet', '<desktop'){
//First Widget
  #widget-header{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    margin: auto;
  }

  .up-position{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 35%;
    padding: 1px;
  }

  .widget-headquarter{
    color: white;
    border-radius: 45px;
    background: $purple-dark;
    padding: 15px;
    width: 60%;
    height: 15%;
    margin-left: 45px;
    font-size: 15px;
  }

  .widget-icon{
    color: $icon-color;
    font-size: 70px;
    float: right;
    margin-left: 10px;
  }

  .widget-greeting{
    color: white;
    padding: 15px;
    width: 70%;
    height: 100%;
    font-size: 35px;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

//Second Widget
  .slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "row-day row-day row-day row-day"
      "row-temp row-temp row-temp row-temp"
      "carousel-percent carousel-percent carousel-speed carousel-speed";
    flex: 0 0 19em;
    height: 10em;
    margin: 1em;
    justify-content: center;
    align-items: center;
    border-right: 0.1em solid $grey-dark;
    transition: transform 0.3s ease-in-out;
  }
}
